<h2>The Email Screen</h2>

<table>
  <% @environments.group_by(&:app).each do |app_name, environments| %>
    <tr>
      <th style="border-top: solid 2px black;">Code</th>
      <th style="border-top: solid 2px black;">Installed</th>
      <th style="border-top: solid 2px black;">Memory (App Server)</th>
    </tr>
    <tr><th colspan="11" style="font-size: 1.4em;"><%= app_name %> Environments</tr>

    <% environments.each do |environment| %>
    <tr>
      <td>
        <%= link_to environment.code, environment, :title => environment.name %>
        <% if environment.url and environment.url != '' %>
          <a href="<%= environment.url %>">&#x2197;</a>
        <% else %>
          <a href="<%= environment.default_url %>">&#x2197;</a>
        <% end %>
      </td>
      <td id="<%= environment.code.gsub(/ /, '-') %>-installed">
        <% installed = environment.envestigate_build_number %>
        <% if installed =~ /^Error/ %>
          <%= installed %>
        <% else %>
          <%= installed %>
        <% end %>
      </td>
      <td id="<%= environment.id %>-java_memory_used">
        <%= java_memory_used_with_updated_at_title(environment.id) %>
      </td>
    </tr>
    <% end %>
  <% end %>
</table>
<br />

