<%= subscribe_to "/envestigate/new" %>

<% @environments.group_by(&:app).each do |app_name, environments| %>
  <h2><%= app_name %> Environments</h2>

  <table>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Url</th>
      <th>App</th>
      <th>Actions</th>
      <th>ENVestigate</th>
      <th>Results</th>
    </tr>

    <% environments.each do |environment| %>
    <tr>
      <td><%= link_to environment.code, environment %></td>
      <td><%= environment.name %></td>
      <td>
        <% if environment.url and environment.url != '' %>
          <a href="<%= environment.url %>"><%= environment.url %></a>
        <% else %>
          ~ <a href="<%= environment.default_url %>"><%= environment.default_url %></a>
        <% end %>
      </td>
      <td><%= environment.app %></td>
      <td>
        <%= link_to 'Edit', edit_environment_path(environment) %>
        <%= link_to '[X]', environment, confirm: 'Are you sure?', method: :delete %>
      </td>
      <td>
        <%= link_to 'Build Number', "/environments/#{environment.id}/envestigate__build_number", :remote => true %>
        <%= link_to '# of Accounts', "/environments/#{environment.id}/envestigate/accounts_count" %>
      </td>
      <td id="<%= environment.code.gsub(/ /, '-') %>-results">
      </td>
    </tr>
    <% end %>
  </table>
  <br />
<% end %>


<%= link_to 'Add Environment', new_environment_path %>
