<%= subscribe_to "/envestigate/new" %>
<script>
(function() {

  PrivatePub.subscribe("/envestigate/new", function(data, channel) {
    if (data.loading) {
      return $("#" + data.env + "-results").addClass('loading').html("<img src=\"" + data.loading + "\" />");
    } else if (data.message) {
      $("#" + data.env + "-results").removeClass('loading').html(data.message);
      if (data.error) { $("#" + data.env + "-results").addClass(data.error); }
      return $("#" + data.env + "-results");
    }
  });

}).call(this);
</script>

<% @environments.group_by(&:app).each do |app_name, environments| %>
  <h2><%= app_name %> Environments</h2>

  <table>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Url</th>
      <th>App</th>
      <th>Actions</th>
      <th>ENVestigate</th>
      <th>Results</th>
    </tr>

    <% environments.each do |environment| %>
    <tr>
      <td><%= link_to environment.code, environment %></td>
      <td><%= environment.name %></td>
      <td>
        <% if environment.url and environment.url != '' %>
          <a href="<%= environment.url %>"><%= environment.url %></a>
        <% else %>
          ~ <a href="<%= environment.default_url %>"><%= environment.default_url %></a>
        <% end %>
      </td>
      <td><%= environment.app %></td>
      <td>
        <%= link_to 'Edit', edit_environment_path(environment) %>
        <%= link_to '[X]', environment, confirm: 'Are you sure?', method: :delete %>
      </td>
      <td>
        <%= link_to 'Build Number', "/environments/#{environment.id}/envestigate__build_number", :remote => true, :style => 'font-size: 0.85em;' %> |
        <% if app_name == 'KFS' %>
          <%= link_to '# of Accounts', "/environments/#{environment.id}/envestigate__accounts_count", :remote => true, :style => 'font-size: 0.85em;' %> |
        <% end %>
        <%= link_to '[More...]', environment, :style => 'font-size: 0.85em;' %>
      </td>
      <td id="<%= environment.code.gsub(/ /, '-') %>-results">
      </td>
    </tr>
    <% end %>
  </table>
  <br />
<% end %>


<%= link_to 'Add Environment', new_environment_path %>
