<!DOCTYPE html>
<html>
<head>
  <title>Envy</title>
  <link href="http://fonts.googleapis.com/css?family=Fanwood+Text|Volkhov:400,700|Merriweather:300,400,700" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600|Lato:400,700|Muli" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div style="margin-bottom: 32px;">
    <div style="display: inline; margin-right: 24px">
      <h1><a href="/environments">Envy</a></h1>
    </div>
    <div style="display: inline;">
      <%= link_to 'Environments', :environments %> |
      <%= link_to 'State of the Universe', :controller => 'environments', :action => 'state_of_the_universe' %> |
      <%= link_to 'The Email Screen', :controller => 'environments', :action => 'email_screen' %> |
      <a href="/resque">Resque</a>
    </div>
  </div>

<%= yield %>

</body>
</html>
